body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #FFD700, #FFA500);
}

.container {
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.text {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.text2 {
    font-size: 1.5em;
    font-weight: medium;
    margin: 10px 0;
}

.clock {
    font-size: 12em;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
    .text {
        font-size: 1.2em;
    }

    .clock {
        font-size: 2.5em;
    }
}

@media (max-width: